<div class="container-fluid">
  <div class="row m-5">
    <span>Introduzca algún dato de la pieza que desea localizar</span>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      <label for="num_procedencia">No. Procedencia</label>
      <input type="text" class="form-control form-control-sm" id="num_procedencia">
    </div>
    <div class="form-group col-md-4">
      <label for="num_inventario">No. Inventario</label>
      <input type="text" class="form-control form-control-sm" id="num_inventario">
    </div>

    <div class="form-group col-md-4">
      <label for="num_catalogo">No. Catálogo</label>
      <input type="text" class="form-control form-control-sm" id="num_catalogo">
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
      <label for="genero">Género</label>
      <select class="form-control form-control-sm" id="genero">
        <option value="option">Selecciona un género</option>
        <option value="option">Selecciona un género</option>
        <option value="option">Selecciona un género</option>
      </select>
    </div>

    <div class="form-group col-md-4">
      <label for="subgenero">Subgénero</label>
      <select class="form-control form-control-sm" id="subgenero">
        <option value="option">Selecciona un subgénero</option>
      </select>
    </div>

    <div class="form-group col-md-4">
      <label for="tipo_objeto">Tipo de objeto</label>
      <select class="form-control form-control-sm" id="tipo_objeto">
        <option value="option">Selecciona un tipo de objeto</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
      <label for="genero">Autor</label>
      <select class="form-control form-control-sm" id="genero">
        <option value="option">Selecciona un género</option>
        <option value="option">Selecciona un género</option>
        <option value="option">Selecciona un género</option>
      </select>
    </div>

    <div class="form-group col-md-4">
      <label for="subgenero">Título</label>
      <select class="form-control form-control-sm" id="subgenero">
        <option value="option">Selecciona un subgénero</option>
      </select>
    </div>

    <div class="form-group col-md-4">
      <label for="tipo_objeto">Epoca</label>
      <select class="form-control form-control-sm" id="tipo_objeto">
        <option value="option">Selecciona un tipo de objeto</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
      <label for="genero">Procedencia</label>
      <select class="form-control form-control-sm" id="genero">
        <option value="option">Selecciona un género</option>
        <option value="option">Selecciona un género</option>
        <option value="option">Selecciona un género</option>
      </select>
    </div>

    <div class="form-group col-md-4">
      <label for="subgenero">Ubicación</label>
      <select class="form-control form-control-sm" id="subgenero">
        <option value="option">Selecciona un subgénero</option>
      </select>
    </div>

    <div class="form-group col-md-4">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Firmas o marcas</label>
    </div>
  </div>

  <!--<div class="row m-5">-->
    <!--<span>Que datos se mostraran de la pieza?</span>-->
  <!--</div>-->

  <!--<div class="d-flex justify-content-around">-->
    <!--<div class="col-md-5 mx-3">-->
      <!--<div class="form-group">-->
        <!--<input type="checkbox" class="form-check-input" id="exampleCheck1">-->
        <!--<label class="form-check-label" for="exampleCheck1">Firmas o marcas</label>-->
      <!--</div>-->

      <!--<div class="form-group ">-->
        <!--<input type="checkbox" class="form-check-input" id="exampleCheck1">-->
        <!--<label class="form-check-label" for="exampleCheck1">Firmas o marcas</label>-->
      <!--</div>-->

      <!--<div class="form-group">-->
        <!--<input type="checkbox" class="form-check-input" id="exampleCheck1">-->
        <!--<label class="form-check-label" for="exampleCheck1">Firmas o marcas</label>-->
      <!--</div>-->

      <!--<div class="form-group ">-->
        <!--<input type="checkbox" class="form-check-input" id="exampleCheck1">-->
        <!--<label class="form-check-label" for="exampleCheck1">Firmas o marcas</label>-->
      <!--</div>-->

      <!--<div class="form-group">-->
        <!--<input type="checkbox" class="form-check-input" id="exampleCheck1">-->
        <!--<label class="form-check-label" for="exampleCheck1">Firmas o marcas</label>-->
      <!--</div>-->

      <!--<div class="form-group ">-->
        <!--<input type="checkbox" class="form-check-input" id="exampleCheck1">-->
        <!--<label class="form-check-label" for="exampleCheck1">Firmas o marcas</label>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="col-md-5">-->

      <!--<div class="form-group">-->
        <!--<input type="checkbox" class="form-check-input" id="exampleCheck1">-->
        <!--<label class="form-check-label" for="exampleCheck1">Firmas o marcas</label>-->
      <!--</div>-->

      <!--<div class="form-group">-->
        <!--<input type="checkbox" class="form-check-input" id="exampleCheck1">-->
        <!--<label class="form-check-label" for="exampleCheck1">Firmas o marcas</label>-->
      <!--</div>-->

      <!--<div class="form-group">-->
        <!--<input type="checkbox" class="form-check-input" id="exampleCheck1">-->
        <!--<label class="form-check-label" for="exampleCheck1">Firmas o marcas</label>-->
      <!--</div>-->

      <!--<div class="form-group ">-->
        <!--<input type="checkbox" class="form-check-input" id="exampleCheck1">-->
        <!--<label class="form-check-label" for="exampleCheck1">Firmas o marcas</label>-->
      <!--</div>-->

      <!--<div class="form-group">-->
        <!--<input type="checkbox" class="form-check-input" id="exampleCheck1">-->
        <!--<label class="form-check-label" for="exampleCheck1">Firmas o marcas</label>-->
      <!--</div>-->

      <!--<div class="form-group ">-->
        <!--<input type="checkbox" class="form-check-input" id="exampleCheck1">-->
        <!--<label class="form-check-label" for="exampleCheck1">Firmas o marcas</label>-->
      <!--</div>-->

    <!--</div>-->
  <!--</div>-->

  <div class="row flex-row-reverse">
    <button class="btn btn-outline-dark m-3" routerLink="../resultado">Buscar</button>
    <button class="btn btn-outline-dark m-3">Limpiar</button>
  </div>

</div>
